[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
uvicorn = "*"
eventlet = "*"
flask = "*"
quart = "*"
psycopg2 = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.8"
